.title{
    text-align: center;
}

.Instruction{
    text-align: center;
}

#playbutton{
    text-align: center;
    margin: auto;
    display: flex;
}

#score{
    text-align: center;
    margin: auto;
}

.countryButton{
    text-align: center;
    margin: auto;
    display: flex;
}

.triviaOption{
    display: inline-block;
    padding: 20px;
    text-align: center
}

.triviaQuestion{
    text-align: center;
}

.scoreGroup{
    text-align: right;
}

.questionsRemaining{
    text-align: right;
}

.scoreElement{
    display: inline-block;
    padding: 0px;
    text-align: center;
}

img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.leftContainer, .rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    border:1px solid black;
}

.optionsContainer {
    flex-direction: row;
    height: 60vh;
    border:1px solid black;
}

.topBarContainer{
    display: flex;
    flex-direction: row;
}

.timer{
    display: flex;
    flex: 1;
}

.questionPlaceholder{
    display: flex;
    flex: 1;
}

.questionsAndScore{
    display: flex;
    flex: 1;
}


