.title{
    text-align: center;
}

.Instruction{
    text-align: center;
}

#playbutton{
    text-align: center;
    margin: auto;
    display: flex;
}

#score{
    text-align: center;
    margin: auto;
}

.countryButton{
    text-align: center;
    margin: auto;
    display: flex;
}

.triviaOption{
    display: inline-block;
    padding: 20px;
    text-align: center
}

.triviaQuestion{
    text-align: center;
}

.scoreGroup{
    text-align: right;
}

.questionsRemaining{
    text-align: right;
}

.scoreElement{
    display: inline-block;
    padding: 0px;
    text-align: center;
}

img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.leftContainer, .rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.optionsContainer {
    display: flex;
    flex-direction: row;
    height: 60vh;
}

.half1, .half2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}